# Common
.github
node_modules
dist
.nuxt
coverage

# Internals
.storybook
.vscode
internals
stories
tools

# js vendor file with import/require
src/assets/**
# static vendor file . use with nuxt.config.js script
src/static/**
