
RewriteEngine On
RewriteBase /nuxtjs-typescript-boilerplate/
RewriteCond %{REQUEST_URI} !/nuxtjs-typescript-boilerplate/dist
RewriteCond %{REQUEST_URI} !/nuxtjs-typescript-boilerplate/git-hook.php
RewriteCond %{REQUEST_URI} !/nuxtjs-typescript-boilerplate/dist/data/program.json
RewriteRule ^(.*)$ dist/$1 [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /nuxtjs-typescript-boilerplate [L]

