// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lighter-gray: #f1f1f1;
$light-gray: #f7f7f7;

// Colors for System
$text: #4b493a;
$link: #303030;
$main: #f0f0f0;
$main-bg: #cccccc;
$title-bg: #e9e8df;
$footer-bg: #aaaaaa;
$btn-text-color: #E6EAEF;

$core-bg: #07288d;
$setting-bg: #25bcd4;
$execute-bg: #ea1919;
$done-bg: #252730;

$original-checkbox-color: #aaaaaa;
$original-selected-color: #00bcd4;
$original-fieldset-text-color: #dd3333;

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-absolute:                   1025;
$zindex-fixed:                      1030;
$zindex-header:                     1035;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;
$zindex-overlay:                    2000;
$zindex-page-cover:                 3000;
